aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
certifi
charset-normalizer
colorama
distro
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
frozenlist
h11
httpcore
httpx
idna
jiter
multidict
openai
pip
propcache
psycopg
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-dotenv
requests
sniffio
sqlparse
tqdm
typing_extensions
tzdata
urllib3
yarl